/* FONT SIZES  */
/* 74.51, 59.60, 47.68, 38.15, 30.52, 24.41, 19.53, 15.63, 12.50, 10.00, 8.00, 6.40 */

:root {
  --red-color: #e362a2;
  --orange-color: #fcce54;
  --blue-color: #b2e5d6;
  --grey-color: #212529;
}

/* Tablet (820px) */
@media (max-width: 51.56em) {
  html {
    font-size: 60%;
  }

  .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--red-color);
    width: 30rem;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
    transition: 0.3s;
  }

  .navbar-menu a {
    color: #fff;
  }

  .navbar-menu a:hover {
    color: #fff;
  }

  .navbar-btns-box button {
    transition: 0.3s;
  }

  #menu-btn {
    display: inline-block;
  }

  .navbar-menu.nav-active {
    right: 0;
  }

  #menu-btn.nav-active {
    display: none;
  }

  #close-btn.nav-active {
    display: inline-block;
  }

  .hero-section {
    padding-top: 15rem;
  }

  .hero-container {
    max-width: 90%;
    margin: 0 8%;
    column-gap: 5rem;
    grid-template-columns: 1.3fr 1.2fr;
  }

  .header {
    font-size: 38.15px;
  }

  .hero-btn {
    display: inline-block;
    margin-right: 1.2rem;
    padding: 0.9rem 1.8rem;
    background-color: red;
  }

  .hero-img {
    width: 85%;
  }

  .about-row {
    max-width: 100%;
  }

  .project-section {
    padding-top: 10rem;
  }

  .project-sub-title {
    margin-bottom: 3rem;
  }

  .project-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0 1%;
  }

  .project {
    max-width: 25%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    column-gap: 3rem;
  }

  .footer-container .col-1 {
    padding: 3rem;
  }

  .footer-container .col-1 a img {
    width: 30%;
    height: auto;
  }

  .footer-container .col-2,
  .footer-container .col-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Special Tablet sizez/Nest Hub (1025px) */
@media (max-width: 64.06em) {
  .about-row {
    max-width: 90%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    column-gap: 5rem;
  }
}

/* Special Tablet sizez/iPad Mini (770px) */
@media (max-width: 48.12em) {
  .hero-container {
    max-width: 90%;
    margin: 0 8%;
    column-gap: 3rem;
    grid-template-columns: 1.5fr 1.2fr;
  }

  .about-row {
    max-width: 100%;
  }

  .project {
    max-width: 28%;
  }
}

/* Mobile Phone (480px) */
@media (max-width: 30em) {
  html {
    font-size: 59%;
  }

  .navbar-menu {
    padding-top: 7rem;
    width: 100%;
    gap: 5rem;
  }

  .hero-section {
    padding-top: 13rem;
  }

  .hero-container {
    max-width: 90%;
    margin: 0 8%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap-reverse;
  }

  .hero-img-box {
    display: flex;
    justify-content: center;
  }

  .header {
    font-size: 30.52px;
    line-height: 1.2;
  }

  .hero-btn {
    display: inline-block;
    margin-right: 1.2rem;
    padding: 0.9rem 1.8rem;
    background-color: red;
  }

  .hero-img {
    width: 85%;
  }

  .about-row {
    max-width: 100%;
    display: inline-block;
  }

  .about-img-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .about-text-box h3 {
    text-align: center;
  }

  .skill-row {
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 3%;
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
  }

  .project-section {
    padding-top: 10rem;
  }

  .project-sub-title {
    margin-bottom: 3rem;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 0 1%;
  }

  .project {
    max-width: 70%;
  }

  .contact-container form {
    width: 80%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 5rem;
    gap: 3rem;
  }

  .footer-container .col-1 {
    padding: 3rem;
  }

  .footer-container .col-1 a img {
    width: 30%;
    height: auto;
  }

  .footer-container .col-2,
  .footer-container .col-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
