/* FONT SIZES  */
/* 74.51, 59.60, 47.68, 38.15, 30.52, 24.41, 19.53, 15.63, 12.50, 10.00, 8.00, 6.40 */

:root {
  --red-color: #e362a2;
  --red-dark-color: #cc5892;
  --orange-color: #fcce54;
  --blue-color: #b2e5d6;
  --grey-color: #212529;
}

/* ******* */
/* Header */
/* ******* */

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.5%;
  height: 8.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo img {
  width: 5rem;
  height: auto;
}

.navbar-menu a {
  display: inline-block;
  margin-right: 3rem;
  font-size: 1.8rem;
  color: var(--grey-color);
  transition: 0.2s;
}

.navbar-menu a:hover {
  color: var(--red-color);
}

.navbar-btns-box button {
  background: none;
  transition: 0.2s;
  display: inline-block;
  margin-right: 1.2rem;
  cursor: pointer;
}

.navbar-btns-box button ion-icon {
  font-size: 2rem;
  background-color: var(--red-color);
  color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
}
.navbar-btns-box button ion-icon:hover {
  background-color: var(--red-dark-color);
}

#menu-btn {
  display: none;
}

#close-btn {
  display: none;
}

/* ************* */
/* Hero section  */
/* ************* */

.hero-section {
  padding-top: 15rem;
}

.hero-container {
  max-width: 85%;
  margin: 0 8%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}

.header {
  font-size: 5.9rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: var(--grey-color);
}

.hero-desc {
  margin-bottom: 2.4rem;
}

.hero-btn {
  display: inline-block;
  margin-right: 1.2rem;
  padding: 1.1rem 2rem;
  /* background-color: red; */
  border-radius: 0.8rem;
  font-weight: 600;
  transition: 0.2s;
}

.hero-btn:first-child {
  background-color: #e362a2;
  color: #fff;
}

.hero-btn:first-child:hover {
  background-color: var(--red-dark-color);
}

.hero-btn:last-child {
  background-color: #f1f3f5;
  color: #495057;
}

.hero-btn:last-child:hover {
  background-color: #d9dbdd;
}

.hero-img {
  width: 85%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}

.hero-text-box .primary-color {
  background: #e362a2;
  background: linear-gradient(to right, #e362a2 0%, #fcce54 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ************** */
/* About section  */
/* ************** */

.about-section {
  padding-top: 15rem;
}

.about-sub-title {
  margin-bottom: 3rem;
}

.about-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 3rem;
}

.about-img {
  width: 80%;
  height: auto;
}

.about-text-box {
  padding-right: 2rem;
}

.about-text-box h3 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: var(--grey-color);
}

.about-text-box p {
  line-height: 1.7;
  color: var(--grey-color);
}

/* ************** */
/* Skill section  */
/* ************** */
.skill-section {
  padding-top: 10rem;
}

.skill-sub-title {
  margin-bottom: 3rem;
}

.skill-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 3%;
}

.skill {
  color: var(--grey-color);
  background: linear-gradient(to right, #e362a2 0%, #fcce54 89%);
  padding: 1.5rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25%;
}

.skill svg {
  width: 7rem;
  height: auto;
  margin-bottom: 0.8rem;
}

.skill h3 {
  text-align: center;
  margin-bottom: 1rem;
}

/* ***************** */
/* Projects section  */
/* ***************** */

.project-section {
  padding-top: 10rem;
}

.project-sub-title {
  margin-bottom: 3rem;
}

.project-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 0 3%;
}

.project {
  /* background: var(--orange-color); */
  background: linear-gradient(to right, #e362a2 0%, #fcce54 89%);
  max-width: 23%;
  border-radius: 0.8rem;
  overflow: hidden;
  color: var(--grey-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-img-box {
  /* background-color: yellow; */
  overflow: hidden;
}

.project-img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  transition: 0.3s;
}

.project-img-box img:hover {
  transform: scale(1.2);
}

.project-text-box {
  padding: 2rem;
}

.project-text-box .project-title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.project-text-box .project-desc {
  margin-bottom: 1.8rem;
}

.project-btn-box {
  display: flex;
  justify-content: center;
  font-family: inherit;
}

.project-btn-box button {
  padding: 1.1rem 2rem;
  background-color: #fff;
  border-radius: 0.8rem;
  font-weight: 600;
  transition: 0.2s;
  color: var(--grey-color);
  cursor: pointer;
}

.project-btn-box button:hover {
  background-color: #f8eeee;
}

/* **************** */
/* Contact section  */
/* **************** */

.contact-section {
  padding-top: 10rem;
  margin: 0 auto;
  /* margin: 0 8%; */
}

.contact-sub-title {
  margin-bottom: 3rem;
}

.contact-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  padding-left: 2rem;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 50%;
}

.contact-container form .input-box:not(.input-box:last-child) {
  margin-bottom: 1rem;
}

.input-box label {
  display: block;
  color: var(--grey-color);
}

.input-box input:not(.input-box input[type="button"]) {
  height: 3.5rem;
  width: 100%;
  outline: none;
  padding: 1rem;
  font-family: inherit;
  border-radius: 0.2rem;
  border: solid 1px #ced4da;
  color: var(--grey-color);
}

.input-box textarea {
  width: 100%;
  outline: none;
  padding: 1rem;
  font-family: inherit;
  border-radius: 0.2rem;
  border: solid 1px #ced4da;
  color: var(--grey-color);
}

.input-btn-box input {
  padding: 1.1rem 2rem;
  border-radius: 0.8rem;
  /* font-weight: 600; */
  transition: 0.2s;
  background-color: var(--red-color);
  color: #fff;
  cursor: pointer;
}

.input-btn-box input:hover {
  background-color: var(--red-dark-color);
}
