/* FONT SIZES  */
/* 74.51, 59.60, 47.68, 38.15, 30.52, 24.41, 19.53, 15.63, 12.50, 10.00, 8.00, 6.40 */

:root {
  --red-color: #e362a2;
  --orange-color: #fcce54;
  --blue-color: #b2e5d6;
}

/* ******* */
/* Header */
/* ******* */

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.5%;
  height: 8.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo img {
  width: 5rem;
  height: auto;
}

.navbar-menu a {
  display: inline-block;
  margin-right: 3rem;
  font-size: 1.8rem;
}

.navbar-btns-box button {
  background: none;
  transition: 0.2s;
  display: inline-block;
  margin-right: 1.2rem;
  cursor: pointer;
}

.navbar-btns-box button ion-icon {
  font-size: 2rem;
  background-color: blue;
  color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
}

#menu-btn {
  display: none;
}

#close-btn {
  display: none;
}

/* ************* */
/* Hero section  */
/* ************* */

.hero-section {
  padding-top: 15rem;
}

.hero-container {
  max-width: 85%;
  margin: 0 8%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}

.header {
  font-size: 5.9rem;
  line-height: 1.2;
  margin-bottom: 1.1rem;
}

.hero-desc {
  margin-bottom: 2.4rem;
}

.hero-btn {
  display: inline-block;
  margin-right: 1.2rem;
  padding: 1.1rem 2rem;
  background-color: red;
}

.hero-img-box {
}

.hero-img {
  width: 85%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}
